<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="404.css">
    <title>Document</title>
</head>
<body>
    <div class="h1-holder">
        <h1>404</h1>
    </div>
    <div class="h2-holder">
        <h2>couldnt find page :(</h2>
    </div>
</body>
</html>