<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/d4dcb4c71a.js"></script>
    <link rel="stylesheet" href="about.css">
    <title>Document</title>
</head>
<body>
    <h1 class="about">About</h1>
    <a href="https://youtube.com/c/sumanboi" class="fa fa-4x fa-youtube-play" aria-hidden="true"></a>
    <div class="credits">
        <h2><span>Developer: </span> Sanidhya </h2>
    </div>
</body>
</html>