<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="display: flex;justify-content: center;align-items: center;height: 100vh;margin: 0;background-color: #333;color:#EAEAEA;">
    <form style="display: flex;flex-direction: column;" action="/getresetlink" method="POST">
        <h2>Email:</h2>
        <input style="width: 300px;" name="email" id="email" type="email">
        <br>
        <div onclick="submit()" class="btn btn-outline-light btn-md" style="max-width: fit-content;align-self: center;">Submit</div>
    </form>
    <script>
        function submit(){
            document.querySelector("form").submit();
        }
    </script>
</body>
</html>