<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/favicon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="loginandregister.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <%- include("loading.ejs") %>
        <h1 class="error"><%= Authorized %></h1>
        <div class="loginHolder">
            <h1>Login</h1>
            <form action="/login" method="POST">
                    <label>Username:</label>
                    <input class="name" type="text" required name="username" />
                    <label>Password:</label>
                    <input class="password" type="password" required name="password" />
                    <div>
                        <input type="checkbox" name="rememberMe" id="rememberMe">
                        <label style="font-size: 15px;color: rgb(1, 180, 120);position: relative;color: #17A2B8;margin-top: 13px;" for="rememberMe">Remember Me</label>
                        <a href="/getresetlink">
                         <span style="font-size: 13px;position: relative;top: 20px;opacity: 0.7;right: 8px;">Forgot Password?</span>
                        </a>
                    </div>
                    <div class="btn btn-md btn-info" style="display: flex;justify-content: center;align-items: center;margin-top: 20px;padding-left: 20px;padding-right: 20px;">Sumbit
                        <span class="ani"></span>
                    <div class="loader" id="btn-loader" style="height: 20px;width: 20px;"><div class="loader-inner"></div></div>
                </div>
            
                    <a style="position: relative;top: 15px;" href="/register">
                    <span class="redirect">
                        dont have an account?
                    </span> 
                    <span class="redirect">
                        sign up
                    </span> 
                </a>
            </form>
        </div>
        <script>

            window.addEventListener("keydown",function(eve){
                if(eve.key=="Enter"){
                    submitForm();
                }
            });

            $(".btn").on("click",function(){
                submitForm();
            });

            function submitForm(){
                username = $(".name").value;
                password = $(".password").value;
                if(username==''){
                    $('<h6 style="color: rgb(199, 101, 101);text-decoration: underline;align-self:center;">username cant be empty</h6>').insertAfter($(".name"));

                }
                if(password==''){
                    $('<h6 style="color: rgb(199, 101, 101);text-decoration: underline;align-self:center;">password cant be empty</h6>').insertAfter($(".password"));
                }
                if(username!='' && password!=''){
                    $(".ani").addClass("startAni");
                    $("form").submit();
                    $("#btn-loader").fadeIn("slow");
                }
            }
        </script>
    </body>
</html>