<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/reset.css">
</head>
<body>
    <form action="/reset/<%= resetLink %>" method="POST">
        <h1><%= username %></h1>
        <h3>Reset Password</h3>
        <br>
        <input required id="p1" type="password" placeholder="Password" name="newPassword">
        <br>
        <input required id="p2" placeholder="Confirm Password" type="password">
        <br>
        <button class="btn btn-success" type="submit">Reset Password</button>
    </form>
    <script>
        var p1 = document.getElementById("p1");
        var p2 = document.getElementById("p2");
        function submit(){
            if(p1.value==p2.value){
                document.querySelector("form").submit();
            }
        }
    </script>
</body>
</html>
