<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/d4dcb4c71a.js"></script>
    <link rel="stylesheet" href="/css/signupANDsignin.css">
</head>
<body>
    <div class="outer">
        <div class="signin-holder">
            <h1>
                Sign Up
            </h1>
        </div>
        <div class="gradient gradient-loading-animation"></div>
            <form action="/signup" method="POST">
                <% if(failureMessage){ %>
                    <h5 class="errorMessage">
                        <%= failureMessage %>
                    </h5>
                <% }else{ %>
                    <br>
                    <br>
                <% } %>
                <input id="username" oninput="" autocomplete="off" required name="username" placeholder="Username" type="text">
                <br>
                <div class="password-holder">
                    <input name="password" id="password" placeholder="Password" type="password">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </div>
                <br>
                <br>
                <button class="btn btn-success">Sign Up</button>
                <br>
                <br>
                <br>
                already have an account?
                <a href="/signin">
                    Sign In
                </a>
            </form>
    </div>

    <div class="context-menu">
        <div onclick="signin()">Sign In</div>
        <div>Submit</div>
    </div>
    <script src="/js/signupANDsignin.js"></script>
    <script src="/js/register.js"></script>
</body>
</html>