<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/d4dcb4c71a.js"></script>
    <link rel="stylesheet" href="signupANDsignin.css">
</head>
<body>
    <% if(failureMessage){ %>
        <h1 class="errorMessage">
            <%= failureMessage %>
        </h1>
    <% } %>
    <div class="outer">
        <div class="signin-holder">
            <h1>
                Sign In
            </h1>
        </div>
        <div class="gradient gradient-loading-animation"></div>
            <form action="/signin" method="POST">
                <br>
                <br>
                <input required name="username" placeholder="Username" type="text">
                <br>
                <div class="password-holder">
                    <input required name="password" id="password" placeholder="Password" type="password">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </div>
                <div class="link-holder">
                    <div class="remember-me-holder">
                        <input checked type="checkbox" name="rememberMe" id="rememberMe">
                        <label class="remember-me-label" for="rememberMe">Remember Me</label>
                    </div>
                    <a class="forgot-password" href="/getresetlink">
                        Forgot Password?
                    </a>
                </div>
                <button class="btn btn-success">Sign In</button>
                <br>
                <br>
                <br>
                dont have an account?
                <a href="/signup">
                    Sign Up
                </a>
            </form>
    </div>

    <div class="context-menu">
        <div onclick="signup()">Sign Up</div>
        <div onclick="forgotPassword()">Forgot Password?</div>
        <div onclick="rememberMe()">Remember Me</div>
        <div onclick="submit()">Submit</div>
    </div>
    <script src="signupANDsignin.js"></script>
</body>
</html>



