*{
    user-select: none;
}
body{
    height: 100vh;
    color: #EAEAEA;
    background-color: #333;
    display: flex;
    overflow: hidden;
}
.left-navbar{
    width: 3.5%;
    padding: 20px 0;
    background-color: #EAEAEA;
    height: 100vh;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-navbar .fa{
    color: #333;
    padding: 17px 0px;
    transition: color 0.3s;
}
.fa-cog{
    position: absolute;
    bottom: 70px;
}
.fa-user-circle-o{
    position: absolute;
    bottom: 130px;
}
.sign-out-holder{
    position: absolute;
    bottom: 10px;
    transform: rotate(180deg);
}
.left-navbar .fa:hover{
    color: #5cb85c;
}
.users{
    width: 20%;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.users h3{
    align-self: center;
    margin-top: 20px;
    text-decoration: underline;
}
input{
    border-radius: 27px;
    width: 75%;
    padding: 10px 13px 12px 47px;
    border: none;
    background-color: rgb(202, 202, 202);
    transition: width 0.5s;
    caret-color: transparent;
    box-shadow: 0 0 6px #EAEAEA;
}
input:focus{
    outline: none;
    width: calc(75% + 50px);
    caret-color: #333;
}
::placeholder{
    color: #333;
}
.user{
    padding: 16px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.7s;
}
.no-users-found{
    width: 100%;
    display: flex;
    justify-content: center;
}
.user:hover{
    background-color: #333;
}
.pfp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}
.fa-plus{
    z-index: 1;
    color: #333;
    position: relative;
    left: 59px;
    top: 1px;
    transition: color 0.3s;
}
::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #EAEAEA;
}
::-webkit-scrollbar{
    width: 10px;
	background-color: #EAEAEA;
}
::-webkit-scrollbar-thumb{
    background-color: #5bc0de;
    border-radius: 3px;
}
.search-user{
    width: 90%;
    align-self: center;
    margin: 27px 0px 37px 0px;
    padding: 10px 15px 10px 20px;
    font-size: 14.5px;
}
.search-user:focus{
    width: calc(90% + 20px);
}
.users-swipe-left{
    animation-name: users-swipe-left-animation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ccubic-bezier(.98,.26,.81,.82);
}
.users-swipe-right{
    animation-name: users-swipe-right-animation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.98,.26,.81,.82);
}
@keyframes users-swipe-left-animation{
    from{left:-100%;}
    to{left: 0%;}
}
@keyframes users-swipe-right-animation{
    from{left:0%;}
    to{left: -100%;}
}
@media only screen and (max-width: 1000px){
    input{
        width: 100%;
    }
    .users{
        position: absolute;
        left:0;
        width: 100%;
        z-index: 1;
    }
}
a{
    color: inherit;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
.settings{
    width: 76.5%;
    display: flex;
    padding-top: 35px;
    flex-direction: column;
}
.danger-buttons{
    position: absolute;
    bottom: 30px;
}
.settings-inner{
    padding-left: 75px;
    padding-top: 100px;
    height: 100%;
    position: relative;
}
.settings h1{
    text-decoration:underline;
    align-self: center;
}
.toggle-holder{
    display: flex;
}
.toggle-holder h3{
    padding-right: 30px;
}
.toggle-control {
    display: block;
    position: relative;
    padding-left: 100px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    top: 6px;
}
.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.toggle-control input:checked ~ .control {
    background-color: dodgerblue;
}
.toggle-control input:checked ~ .control:after {
    left: 100px;
}
.toggle-control .control {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 125px;
    border-radius: 25px;
    background-color: darkgray;
    transition: background-color 0.2s ease-in;
}
.toggle-control .control:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: white;
    transition: left 0.2s ease-in;
}
