body{
    margin: 0;
    background-color: #EAEAEA;
}
.homeHolder{
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
    background-color: #17A2B8;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eachUser{
    position: relative;
    left: 1vw;
    margin-top: 25px;
    border-radius: 7px;
    width:85%;
    height: 95px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    min-width: 85%;
    text-decoration:none;
}
h1{
    color: #17A2B8;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #333;
    border-radius: 4px;
    margin: 5px 0;
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.5);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.75);
}
.online{
    height: 100%;
    display: flex;
    align-items: center;
}
.notification{
    position: relative;
    color: rebeccapurple;
}
.usersHeading{
    color: aliceblue;
    font-size: 3rem;
    text-decoration: underline;
}
.logout-holder{
    position: absolute;
    z-index: 100;
    bottom:0;
    width: 80vw;
    margin-left: 20vw;
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}
#logout-button{
    color:#fff;
    font-weight: 400;
    text-align: center;
    border-radius: 3px;
    background-color: #dc3545;
    padding: 0.750rem 1.00rem;
    right: 0;
    top: 0;
    min-width: 65px;
    z-index: 100;
}
.onlinedot{
    background-color:green;
    height:15px;
    width:15px;
    border-radius:50%;
    margin-top:5px;
    margin-left:5px;
}



input[type="checkbox"] {
    display: none;
  }
input[type="checkbox"] + label:before {
    border-radius: 2.5px;
    border: 1.5px solid #333;
    content: "\00a0";
    display: inline-block;
    font: 20px/1em sans-serif;
    height: 20px;
    margin: 0 0.5em 0 0;
    padding:0;
    vertical-align: top;
    width: 20px;
  }
  input[type="checkbox"]:checked + label:before {
    background: rgb(0, 255, 170);
    color: rgb(255, 255, 255);
    content: "\2713";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }
  
  input[type="checkbox"]:focus + label::before {
      outline: rgb(255, 255, 255) auto 5px;
  }
label{
-webkit-user-select: none;        
-moz-user-select: none; 
-ms-user-select: none; 
user-select: none; 
}
#preferences{
    visibility: hidden;
    margin-left: 25px;
    display: flex;
}
input[type="color"] {
    -webkit-appearance: none;
     width: 20px;
     height: 20px;
     border-radius: 2.5px;
     padding: 0;
     overflow: hidden;
     margin: 0 0.5em 0 0;
     border: 1.5px solid #333;
 }
 input[type="color"]::-webkit-color-swatch-wrapper {
     padding: 0px;
 }
 input[type="color"]::-webkit-color-swatch {
     border: none;
 }
 label{
     position: relative;
     bottom: 4px;
 }

#resetColors{
    background: rgb(66, 184, 221);
    color: #fff;
    border: 2px solid rgb(153, 235, 164);
    font-size: larger;
    border-radius: 3px;
    transition: all 0.5s;
}
#resetColors:hover{
    background: #fff;
    color: rgb(66, 184, 221);
}

#searchUsers{
    width: 90%;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #EAEAEA;
    border: 0.7px solid #333;
}
a:last-child{
    margin-bottom: 2.5vh;
}
.noUsersFound{
    font-size: x-large;
    margin-top: 30px;
    color: rgb(204, 73, 73);
}
  #uploadPfp{
      display: none;
  }
#right{
    margin-left: 150px;
    position: relative;
    top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}