#container {
    margin: 20px;
    width: 100px;
    height: 100px;
    position: relative;
}
img{
  height: 88px;
  width: 88px;
  border-radius: 88px;
   box-shadow: 0 0 10px #fff;
   object-fit: cover;
}
#img-holder{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}